<!DOCTYPE html>
<html>
<head>
    <title>Client</title>
</head>
<body><h1>Delete</h1>
    <form method="post">
        {% csrf_token %}
        <h2>Are you sure you want to delete {{ client.name }} ? </h2>
        <button type="submit">Confirm</button>
    </form>
</body>
</html>