<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
    </form>

    {% if client %}
        <a href="{% url 'delete_client' client.id %}">Delete</a>
    {% endif %}
</body>
</html>