<!DOCTYPE html>
<html>
<head>
    <title>Client</title>
</head>
<body><h1>Client Detail</h1>

    <form method="GET">
        {{ filter.form }}
        <button type="sumbit">Search</button>



    </form>
    <ul>
    {% for client in clients %}
        <a href="{% url 'update_client' client.id %}">
            <li>{{ client.name }}</li><li>{{ client.email_address }}</li> <li>{{ client.phone_number }}</li></a>
    {% endfor %}
    </ul>

  <a href="{% url 'create_client' %}">New Client</a>
</body>
</html>

